/* 기본 스타일 */

/* 외할머니 글씨 (한글) */
.korean-font {
  font-family: 'NanumOeHarMeoNiGeurSsi', sans-serif;
  font-weight: 600;
}

/* Marcellus (영어) */
.english-font {
  font-family: 'Marcellus', serif;
}

/* 전체 본문 스타일 */
body {
  font-family: 'NanumOeHarMeoNiGeurSsi', sans-serif; /* 외할머니 글씨 (한글) 기본 적용 */
  background-color: #F2EDEC;
  color: #333;
  margin: 0;
  padding: 0;
  font-size: 1.2em; /* 기본 폰트 크기 키움 */
}

/* 메뉴 스타일 */
.menu {
  padding: 12px;
  display: flex;
  justify-content: center;
  background-color: #F2EDEC; /* 배경색을 바디 배경색과 동일하게 */
  border-bottom: none;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation a {
  padding: 0 15px;
  text-decoration: none;
  color: #333;
  font-size: 1.1em;
  font-family: 'NanumOeHarMeoNiGeurSsi', sans-serif; /* 한글 글꼴 적용 */
}

.navigation .divider {
  width: 1px;
  height: 20px;
  background-color: #ccc;
  margin: 0 10px;
}

.navigation a.active {
  color: #333;
  font-weight: bold;
}

/* 컨테이너 스타일 */
.container {
  width: 90%; /* 넓이를 키움 */
  max-width: 1200px;
  margin: 30px auto;
  padding: 30px; /* 패딩 증가 */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* 그림자 강화 */
}

/* 메인 제목 스타일 */
h1 {
  font-size: 36px; /* 제목 폰트 크기 키움 */
  text-align: center;
  color: #333;
  margin-bottom: 25px;
  font-family: 'NanumOeHarMeoNiGeurSsi', sans-serif;
}

/* 폼 스타일 */
form {
  display: flex;
  flex-direction: column;
}

/* 폼 라벨 스타일 */
label {
  font-weight: bold;
  margin-top: 15px;
  font-family: 'NanumOeHarMeoNiGeurSsi', sans-serif;
  font-size: 1.3em; /* 라벨 폰트 크기 키움 */
}

/* 입력 필드 스타일 */
input[type="text"], select, textarea {
  padding: 15px; /* 패딩 증가 */
  font-size: 1.2em; /* 폰트 크기 키움 */
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-family: 'NanumOeHarMeoNiGeurSsi', sans-serif;
}

/* 텍스트 영역 스타일 */
textarea {
  resize: vertical;
  min-height: 200px; /* 텍스트 영역의 최소 높이 증가 */
}

/* 제출 버튼 스타일 */
button[type="submit"] {
  margin-top: 20px;
  padding: 15px;
  background-color: #a8d5ba;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1.2em; /* 버튼 폰트 크기 키움 */
  cursor: pointer;
  border-radius: 4px;
  font-family: 'NanumOeHarMeoNiGeurSsi', sans-serif;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #86c1a9; /* 호버 색상 추가 */
}
