body {
  font-family: Arial, sans-serif;
  background-color: #F2EDEC;
  color: #333;
  margin: 0;
  padding: 0;
}

.menu {
  background-color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #ddd;
}

.menu a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.container {
  width: 60%;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

h1 {
  font-size: 24px;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-top: 15px;
}

input[type="text"], select, textarea {
  padding: 10px;
  font-size: 16px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

textarea {
  resize: vertical;
}

button[type="submit"] {
  margin-top: 20px;
  padding: 10px;
  background-color: #a8d5ba;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}
