/* 기본 스타일 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 외할머니 글씨 (한글) */
.korean-font {
    font-family: 'NanumOeHarMeoNiGeurSsi', sans-serif;
    font-weight: 600;
}

/* Marcellus (영어) */
.english-font {
    font-family: 'Marcellus', serif;
}

body {
    font-family: 'NanumOeHarMeoNiGeurSsi', Arial, sans-serif; /* 폰트 충돌 방지 */
    background-color: #F2EDEC;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: left;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

/* 입력 그룹 스타일 */
.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.input-group label {
    width: 100px;
    font-weight: bold;
    margin-right: 15px;
}