/* 기본 스타일 */

/* 외할머니 글씨 (한글) */
.korean-font {
    font-family: 'NanumOeHarMeoNiGeurSsi', sans-serif;
    font-weight: 600;
}

/* Marcellus (영어) */
.english-font {
    font-family: 'Marcellus', serif;
}

body {
    background-color: #F2EDEC;
    margin: 0;
    padding: 0;
}

/* 메뉴 아이콘 스타일 */
.menu-icon {
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 15px;
}

/* 슬라이드 메뉴 스타일 */
.menu {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #042C57; /* 메뉴창 배경색 변경 */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.menu a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
}

.menu .closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 36px;
}

