<!--공통 레이아웃 템플릿 메뉴 바-->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}요리의 정원{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&display=swap" rel="stylesheet">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/NanumOeHarMeoNiGeurSsi.css" rel="stylesheet">
</head>
<body>
    <!-- 메뉴 아이콘 -->
    <div class="menu-icon" onclick="toggleMenu()">☰</div>
    <header>
        <div class="menu-icon" onclick="toggleMenu()" aria-label="메뉴 열기">☰</div>
        <div id="menu" class="menu">
            <a href="javascript:void(0)" class="closebtn" onclick="toggleMenu()">×</a>
            <a href="/mypagemain">마이페이지</a>
            <a href="/">Home</a>
            <a href="/recipes">레시피</a>
            <a href="/recent">최근 본 레시피</a>
            <a href="/favorites">즐겨찾기</a>
            <a href="/board">게시판</a>
            <a href="/info">정보</a>

                    <a href="/create_recipe">레시피 작성</a>
                    <a href="/logout">로그아웃</a>

                    <a href="/login">로그인</a>
                    <a href="/signup">회원가입</a>

        </div>
    </header>

    <!-- 메인 콘텐츠 영역 -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <script src="{{ url_for('static', filename='js/toggleMenu.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fonts.js') }}"></script>
</body>
</html>